body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }

header {
    background-color: #1c2f9b;
    opacity: 0.8;
    position: fixed;
    width:100%;
    height:80px;
    z-index: 10;
}

.clear{
    clear: left;
}
  
.header-left {
    color:#f8f8f8;
    font-size: 20px;
    padding-left:50px;
    float:left;
    letter-spacing: 20px;
    line-height:40px;  
}

.header-right {
    float:right;
    padding:50px;
}

.header-right a{
    color:white;
    text-align: center;
    padding-right:30px;
}

.main{
    padding-top:80px;
    width:100%;
}

.top {
    height: 500px;
    padding: 180px 0 100px 0;
    background-image: url(img/top-img.png);
    background-size: cover;
    height:500px;
    font-size: 32px;
}

.top h1{
    padding-bottom:50px;
    opacity: 0.7;
    color: rgba(4, 8, 252, 1.0);
    font-size: 60px;
    letter-spacing:20px;
    text-align: center;
}

.wataru {
    padding-top:30px;
    text-align: center;
}

.middle-list h2{
    border-top: 1px solid rgb(82, 82, 82);
    padding-top: 10px;
    font-size: 30px;
    letter-spacing:10px;
    text-align: center;
}

.middle-work{
    text-align: center;
}

.list{
    padding-left:50px;
    display: inline-block;
    width:25%;
    text-align: center;
    font-size:15px;
}

.coment h2{
    border-top: 1px solid rgb(82, 82, 82);
    padding-top: 10px;
    font-size: 30px;
    letter-spacing:10px;
    text-align: center;
}

.middle-process{
    text-align: center;
}

.list-p{
    padding-top:10px;
    padding-left:10px;
    display: inline-block;
    width:20%;
    font-size:15px;
}

.arrow{
    padding-left:10px;
    display: inline-block;
    text-align: center;
    line-height:100px;
    position:relative;
    bottom: 120px;
    
}

.access{
    border-top: 1px solid rgb(82, 82, 82);
    padding-top: 10px;
    text-align: center;
}

.access-left{
    padding-top:50px;
    padding-left:100px;
    float:left;
    display: inline-block;
    font-size: 20px;
    text-align: left;

}

.access-right{
    padding-left:50px;
    display: inline-block;
}

footer{
    opacity:0.7;
    padding-left:50px;
    background-color: #1a32b8;
    width:100%;    
}

footer p{
    padding-top:10px;
    color:white;
    font-size: 20px;
    letter-spacing: 10px;
}

@media (max-width: 1100px){

    .top h1{
        font-size: 40px;  
    }

    .middle-list h2{
        font-size: 25px;
    }

    .list-p{
        padding-top:10px;
        padding-left:5px;
        display: inline-block;
        width:40%;
        font-size:15px;
    }

}

.contact-page{
    padding-top:80px;
    padding-left: 50px;
    height: 370px;
    
}

.contact-form input{
    height:30px;
    width:30%;
}

.contact-form span{
    color:red;
}

.contact-form textarea{
    padding:5px;
    height:100px;
    width:30%;
}

.contact-btn{
    width:50px;
    height:30px;
}

.contact-btn a{
    background-color: #1c2f9b;
    color:white;
    border-radius: 1px;
    
}

.staff-title {
    border-bottom: 1px solid rgb(82, 82, 82);
    width:50%;
}

.staff {
    border-bottom: 1px solid rgb(82, 82, 82);
    width:50%;
}

.staff h4{
    font-weight: none;
}

.staff-page{
    padding-top:80px;
    padding-left: 50px;
    
}
